<section class="about-me">
  <div class="container-aboutme">
    <h1>About Me</h1>
    <div class="conteudo">
      <h4>Age</h4>
      <hr class="linha-colorida-aboutme">
      <p>17 old years</p>
    </div>
    <div class="conteudo">
      <h4>Location</h4>
      <hr class="linha-colorida-aboutme">
      <p>Campinas, São Paulo - Brasil</p>
    </div>
    <div class="conteudo">
      <h4>Current Work</h4>
      <hr class="linha-colorida-aboutme">
      <p>Apprentice a Digital Solutions.</p>
    </div>
    <div class="conteudo">
      <h4>Background</h4>
      <hr class="linha-colorida-aboutme">
      <p>Bachelor's degree in Computer Science.</p>
    </div>
    <div class="conteudo">
      <h4>Interests</h4>
      <hr class="linha-colorida-aboutme">
      <p> I am interested in design, particularly in the<br> 
      areas of marketing, communication,<br>
      economics, and the world of technology.</p>
    </div>
    <div class="conteudo">
      <h4>Hobbies</h4>
      <hr class="linha-colorida-aboutme">
      <p>I enjoy reading, cooking, going for walks,<br> 
      shopping, skincare, and practicing physical<br>
      activities.</p>
    </div>
  </div>
  </section>
  