
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
}

.header li{
    display: flex;
    justify-content: space-between;

}
.header a{
    text-decoration: none;
   
}

/* Estilo para o hover */
 a {
    transition: all 0.3s ease; /* Suaviza a transição */
    color: #ffff;
  }
  
  a:hover {
    transform: translateY(-5px);
    color: #FF00AA; }

.ativo{
    color: #FF00AA ;
}