<section class="experience">
  <div class="container-experience">
    <div class="experience-complete">
      <div class="title">
        <h1>Apprendice a Digital Solutions - BOSCH</h1>
        <p>01/2024 - Present</p>  
      </div>
      <div class="corpo">
        <div class="corpo1">
          <p>• 2nd place in the Hackathon - ETS.</p>
          <p>• Final course project focused on<br> 
            the company's internal area.</p>
        </div>
        <div class="corpo2">
          <p>• As an apprentice, I have<br>
            worked with Python, FastAPI,<br>
             HTML, CSS, JavaScript, Java,<br> 
            Spring Boot, facial recognition<br>
             with AI, among other<br>
             technologies.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-experience">
    <div class="experience-complete">
      <div class="title">
        <h1>Marketing Digital/<br>Traffic specialist - VIRTU ASSESSORIA </h1>
        <p>01/2023 - 01/2024</p>  
      </div>
      <div class="corpo">
        <div class="corpo1">
          <p>• Classes with Pedro Sobral,<br>
             Ícaro de Carvalho, and other<br>
              PhDs in digital marketing.</p>
        </div>
        <div class="corpo2">
          <p>• Specialized in Meta<br>
            and Google Ads, dashboard<br>
             with metrics, content<br> production for companies<br>
             from various industries,<br> 
            over $20K managed in ads.</p>
        </div>
      </div>
    </div>
  </div>
</section>