<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<section>
  <div class="container_home">
    <div class="text-image">
      <div class="box-1">
        <span class="im">I'm </span>
        <span class="name">Sara Giglio</span>

        <p>I’m Sara, and I started my professional career in 2024, focusing on UI/UX<br>
          and Front-End Development. Passionate about communication, always<br>
          seeking more learning, and striving to evolve in all areas of my life.</p>
      </div>
      <div class="box-2">
        <img src="imagem.png" alt="">
      </div>
    </div>
    <div class="aboutme-software">
      <div class="home-software">
        <app-software></app-software>
      </div>
      <div class="home-aboutme">
        <app-about-me></app-about-me>
      </div>
    </div>
  </div>
</section>