<section class="projects">
  <div class="container-projects">
    <div class="card">
      <h1>TradeHub</h1>
      <div class="descricao-card">
        <h4>Description</h4>
        <p>• Asset management within<br>
           the company, website for<br>
           selling and donating these<br>
          items.</p>
      </div>
      <a href="">See Details</a>
    </div>
    <div class="card">
      <h1>TradeHub</h1>
      <div class="descricao-card">
        <h4>Description</h4>
        <p>• Asset management within<br>
           the company, website for<br>
           selling and donating these<br>
          items.</p>
      </div>
      <a href="">See Details</a>
    </div>
    <div class="card">
      <h1>TradeHub</h1>
      <div class="descricao-card">
        <h4>Description</h4>
        <p>• Asset management within<br>
           the company, website for<br>
           selling and donating these<br>
          items.</p>
      </div>
      <a href="">See Details</a>
    </div>
    <div class="card">
      <h1>TradeHub</h1>
      <div class="descricao-card">
        <h4>Description</h4>
        <p>• Asset management within<br>
           the company, website for<br>
           selling and donating these<br>
          items.</p>
      </div>
      <a href="">See Details</a>
    </div>
    <div class="card">
      <h1>TradeHub</h1>
      <div class="descricao-card">
        <h4>Description</h4>
        <p>• Asset management within<br>
           the company, website for<br>
           selling and donating these<br>
          items.</p>
      </div>
      <a href="">See Details</a>
    </div>
    <div class="card">
      <h1>TradeHub</h1>
      <div class="descricao-card">
        <h4>Description</h4>
        <p>• Asset management within<br>
           the company, website for<br>
           selling and donating these<br>
          items.</p>
      </div>
      <a href="">See Details</a>
    </div>
    <div class="card">
      <h1>TradeHub</h1>
      <div class="descricao-card">
        <h4>Description</h4>
        <p>• Asset management within<br>
           the company, website for<br>
           selling and donating these<br>
          items.</p>
      </div>
      <a href="">See Details</a>
    </div>
    <div class="card">
      <h1>TradeHub</h1>
      <div class="descricao-card">
        <h4>Description</h4>
        <p>• Asset management within<br>
           the company, website for<br>
           selling and donating these<br>
          items.</p>
      </div>
      <a href="">See Details</a>
    </div>
    <div class="card">
      <h1>TradeHub</h1>
      <div class="descricao-card">
        <h4>Description</h4>
        <p>• Asset management within<br>
           the company, website for<br>
           selling and donating these<br>
          items.</p>
      </div>
      <a href="">See Details</a>
    </div>
    
  </div>
</section>