<section class="courses">
  <div class="container-courses">
    <div class="course-complete">
      <div class="info">
        <h2>Systems Development</h2>
        <div class="inst-ano">
          <div class="instituicao">
            <h4>Instituition</h4>
            <p>Senai Roberto Mange<br>
              (Campinas/Sp)</p>
          </div>
          <div class="ano">
            <h4>Start and End Year</h4>
            <p>01/2024 - 06/2025</p>
          </div>
        </div>
      </div>
      <div class="details">
        <div class="area-tools-used">
          <div class="area">
            <h2>Main areas</h2>
            <p>• Backend Programming,<br>
              Frontend<br>
              Programming, UI/UX,<br>
              IoT, APIs,<br>
              Frameworks,<br>
              Requirements, QA,<br>
              Documentation,<br>
              Project Structure, etc.</p>
          </div>
          <hr class="linha-colorida-courses">
          <div class="tools-used">
            <h2>Tools Used</h2>
            <p>• HTML, CSS, JS</p>
            <p>• Python</p>
            <p>• Django</p>
            <p>• React</p>
            <p>• Flutter</p>
          </div>
        </div>
      </div>
    </div>
    <div class="course-complete">
      <div class="info">
        <h2>Development Web -<br>Angular</h2>
        <div class="inst-ano">
          <div class="instituicao">
            <h4>Instituition</h4>
            <p>Udemy<br>
              (online)</p>
          </div>
          <div class="ano">
            <h4>Start and End Year</h4>
            <p>02/2025 - 06/2025</p>
          </div>
        </div>
      </div>
      <div class="details">
        <div class="area-tools-used">
          <div class="area">
            <h2>Main areas</h2>
            <p>• The course covers<br>
              component creation,<br>
              routing, forms, API
              <br> integration, RxJS, unit
              <br> testing, and performance<br>
              optimization, along<br>
              with deployment.
            </p>
          </div>
          <hr class="linha-colorida-courses">
          <div class="tools-used">
            <h2>Tools Used</h2>
            <p>• HTML</p>
            <p>• CSS</p>
            <p>• JavaScript</p>
            <p>• TypeScript</p>
            <p>• Angular</p>
          </div>
        </div>
      </div>
    </div>
    <div class="course-complete">
      <div class="info">
        <h2>Computer Science</h2>
        <div class="inst-ano">
          <div class="instituicao">
            <h4>Instituition</h4>
            <p>Wyden - Unimetrocamp<br>
              (Campinas/Sp)</p>
          </div>
          <div class="ano">
            <h4>Start and End Year</h4>
            <p>01/2025 - 12/2028</p>
          </div>
        </div>
      </div>
      <div class="details">
        <div class="area-tools-used">
          <div class="area">
            <h2>Main areas</h2>
            <p>• Computer<br>
              Architecture,
              <br> Networks, Software<br>
              Development,<br>
              Databases,
              Operating Systems,<br>
              Cloud Computing,<br>
              Security, AI & Data<br>
              Science, Software<br>
              Engineering, Big<br>
              Data.
            </p>
          </div>
          <hr class="linha-colorida-courses">
          <div class="tools-used">
            <div class="tools1">
              <h2>Tools Used</h2>
              <p>• HTML, CSS, JS</p>
              <p>• Python</p>
              <p>• C++</p>
              <p>• SQL</p>
            </div>
            <div class="tools2">
              <p>• AWS, Google Cloud, Azure </p>
              <p>• Wireshark </p>
              <p>• TensorFlow, scikit-learn </p>
              <p>• AWS, Google Cloud, Azure </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>