<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<section>
  <div class="title-name">
    <span class="im">I'm </span>
    <span class="name">Sara Giglio</span>

    <p>I’m Sara, and I started my professional career in 2024, focusing on UI/UX  and Front-End Development.
      Passionate about communication, always seeking more learning, and striving to evolve in all areas of
       my 
      life.</p>
  </div>

</section>